{% load static %}
<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styleCadastro.css' %}">
    <title>Formulário de cadastro</title>
</head>

<body>
    <div class="container">
        <div class="form-image">
            <img src="{% static 'img/undraw_stepping_up_g6oo.svg' %}" alt="">
        </div>
        <div class="form">
            <form action="#" method="POST"> {% csrf_token %}
                <div class="form-header">
                    <div class="title">
                        <h1>Cadastre-se</h1>
                    </div>
                    <div class="login-button">
                        <button><a href="{% url 'login' %}">Entrar</a></button>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-box">
                        <label for="firstname">Primeiro nome</label>
                        <input id="firstname" type="text" name="primeiroNome" placeholder="Digite seu primeiro nome"
                            required>
                    </div>

                    <div class="input-box">
                        <label for="lastname">Sobrenome</label>
                        <input id="lastname" type="text" name="ultimoNome" placeholder="Digite seu sobrenome" required>
                    </div>

                    <div class="input-box">
                        <label for="lastname">Usuario</label>
                        <input id="lastname" type="text" name="usuario" placeholder="Digite seu Usuario" required>
                    </div>

                    <div class="input-box">
                        <label for="email">Email</label>
                        <input id="email" type="email" name="email" placeholder="Digite seu email" required>
                    </div>

                    <div class="input-box">
                        <label for="password">Senha</label>
                        <input id="password" type="password" name="senha" placeholder="Digite sua senha" required>
                    </div>

                    <div class="input-box">
                        <label for="Comfirmpassword">Confirme sua senha</label>
                        <input id="Comfirmpassword" type="password" name="comfirmaSenha"
                            placeholder="Digite sua senha novamente" required>
                    </div>

                </div>
                {% for message in messages %}
                {% if message %}
                <p style="color: red; font-weight: bold;">{{message}}</p>
                {% endif %}
                {% endfor %}
                <div class="continue-button">
                    <button method="submit"><a href="">Cadastrar</a></button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>