{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criação de Publicação</title>
    <link rel="stylesheet" href="{% static 'css/styleCadPubli.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
</head>

<body>

    <header id="cabecario">
        <h1 id="nomeBlog">Nome Blog</h1>
        <div id="headerLinks">
            <a id="inicio" href="">Inicio</a>
            <div id="categorias">
                <legend>Categorias</legend>
                <select name="select" id="select">
                    <option disabled selected>Escolha uma Categoria</option>
                    {% for categ in categorias %}
                    <option name="categoria" value="categoria">{{categ.nmCategoria}}</option>
                    {% endfor %}
                </select>

            </div>
            <a id="novaPub" href="{% url 'cadastroPub' %}">
                <i class="fa-solid fa-plus"></i>
                <p>Criar</p>
            </a>
        </div>
        {% if user.id is NULL %}
        <div id="acessoConta"></div>
        <a id="acessar" href="{% url 'login' %}">
            <i id="logUser" class="fa-solid fa-user"></i>
            <p id="loga_cad">Logar ou Cadastrar</p>
        </a>
        </div>
        {% else %}

        <div id="acessoConta">
            <h4>Usuario: {{user}}</h4>
            <a id="exit" href="{% url 'logout' %}">
                <p id="loga_cad sai">Sair</p>
                <i id="sai" class="fa-sharp fa-solid fa-right-from-bracket"></i>
            </a>
        </div>

        {% endif %}
    </header>
    <form id="pagina" method="POST" enctype="multipart/form-data" action="{% url 'criaPub' %}"> {% csrf_token %}
        <section id="corpo">
            <div id="blocoCorpo">
                <div>
                    <legend id="legendTitulo">Titulo</legend>
                    <input type="text" name="titulo" id="tituloPub">
                </div>
                <legend id="legendTitulo">Selecione uma imagem</legend>
                <input type="file" name="imagem" id="">
                <legend id="legendTitulo">Categorias</legend>
                <select name="tipCateg" id="defCat">
                    <option disabled selected>Escolha uma Categoria</option>
                    {% for categ in categorias %}
                    <option name="categoria" value="{{categ.id}}">{{categ.nmCategoria}}</option>
                    {% endfor %}
                </select>
                <legend id="legendTitulo">Resumo</legend>
                <textarea name="resumo" id="resumo" cols="30" rows="10"></textarea>
                <legend id="legendTitulo">Conteúdo</legend>
                <textarea name="conteudo" id="conteudo" cols="30" rows="10"></textarea>
                <div id="divbutton">
                    <button id="btCriar" type="submit">Criar</button>
                </div>
            </div>
        </section>
    </form>
</body>

</html>