{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Tela de Login</title>
    <link rel="stylesheet" href="{% static 'css/styleLogin.css' %}">
</head>
<body>
    <div class="container">
        <div class="login-form">
            <div class="title">Login</div>
            <form action="#" method="POST"> {% csrf_token %}

                <div class="input-box">
                    <i class="fa fa-envelope"></i>
                    <input type="text" name="usuario" placeholder="Digite seu Usuario" required>
                </div>

                <div class="input-box">
                    <i class="fa fa-lock"></i>
                    <input type="password" name="senha" placeholder="Digite sua senha" required>
                </div>
                <div class="fotgot"><a href="#">Esqueceu a senha?</a></div>
                {% for message in messages %}
                {% if message %}
                <p style="color: red; font-weight: bold;">{{message}}</p>
                {% endif %}
                {% endfor %}
                <div class="input-box">
                    <input type="submit" value="Entrar">
                </div>
                <div class="sigup-text">
                    Não tenho uma conta? <a href="{% url 'cadastro' %}">Crie uma agora</a>
                </div>
            </form>
        </div>
        <div class="login-img">
            <img src="{% static 'img/undraw_stepping_up_g6oo.svg' %}" width="100%">
        </div>
    </div>
</body>
</html>