{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conteudo</title>
    <link rel="stylesheet" href="{% static 'css/stylePubli.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

</head>

<body>
    <form id="pagina" action="{% url 'publicacao' publi.id %}" method="POST"> {% csrf_token %}
        <header id="cabecario">
            <h1 id="nomeBlog">Nome Blog</h1>
            <div id="headerLinks">
                <a id="inicio" href="{% url 'inicio' %}">Inicio</a>
                <div id="categorias">
                    <legend>Categorias</legend>
                    <select name="select" id="select">
                        <option disabled selected>Escolha uma Categoria</option>
                        {% for categ in categorias %}
                        <option name="categoria" value="{{categ.id}}">{{categ.nmCategoria}}</option>
                        {% endfor %}
                    </select>

                </div>
                {% if user.id is not NULL %}
                <a  id="novaPub" href="{% url 'cadastroPub' %}">
                        <i class="fa-solid fa-plus"></i>
                        <p>Criar</p>
                </a>
                {% endif %}
            </div>
            {% if user.id is NULL %}
            <div id="acessoConta"></div>
            <a id="acessar" href="{% url 'login' %}">
                <i id="logUser" class="fa-solid fa-user"></i>
                <p id="loga_cad">Logar ou Cadastrar</p>
            </a>
            </div>
            {% else %}

            <div id="acessoConta">
                <h4>Usuario: {{user}}</h4>
                <a id="exit" href="{% url 'logout' %}">
                    <p id="loga_cad sai">Sair</p>
                    <i id="sai" class="fa-sharp fa-solid fa-right-from-bracket"></i>
                </a>
            </div>

            {% endif %}




        </header>
        <section>

            <div id="publicacao">
                <h3 id="titulo">{{publi.titulo}}</h3>
                <hr>

                <div id="conteudoPubli">
                    <img src="{{publi.endImage.url}}" style="width: 300px; height: 300px;" alt="">
                    <div id="conteudo">
                        {{publi.conteudo}}
                    </div>

                </div>
                <span>
                    <p id="autor">{{publi.usuario.get_full_name}} | {{publi.datHor}}</p>
                </span>
            </div>

            <div id="comentarios">
                {% comment %} <span id="btOpcao">
                    <button type="submit"></button>
                </span> {% endcomment %}

                <fieldset id="btOpcao">
                    <legend>Tipo de Comentário</legend>
                    <div>
                        <input type="radio" name="check" value="1" class="check" id="normal" checked>
                        <label for="normal">Normal</label>
                    </div>
                    <div>
                        <input type="radio" name="check" value="2" class="check" id="anonimo">
                        <label for="anonimo">Anonimo</label>
                    </div>
                </fieldset>

                <span id="caixaComent">
                    <textarea name="cxComentario" id="cbComentario" cols="30" rows="10" type="submit"></textarea>
                    <button id="comentar" type="submit">Comentar</button>
                </span>
                <span id="EspComent">
                    {% for coment in comentPubli %}
                    <span id="resultComentario">
                        <p>
                            {{coment.comentario}}
                        </p>
                        <br>
                        <hr>
                        <p>
                            {% if coment.usuario.get_full_name != NULL %}
                            {{coment.usuario.get_full_name}} | {{coment.datHora}}
                            {% else %}
                            Anônimo | {{coment.datHora}}
                            {% endif %}
                        </p>
                    </span>
                    {% endfor %}
                </span>
            </div>
        </section>

    </form>
</body>

</html>